body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #31404a;
}

nav {
    width: 100%;
    height: auto;
    /* background-color: #2e3844; */
    background-color: #2e384463;
    color: white;
    margin-top: 0;
    position: absolute;
    top: 0;
}

nav .botonNav {
    display: none;
}

nav ul {
    font-weight: bold;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
}

nav ul li {
    margin: 15px 0 15px 0;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    outline: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 590px){
    nav ul {
        display: none;
    }
    nav .botonNav {
        font-size: larger;
        display: block;
        width: 100%;
        background-color: #3d4a5a;
        text-align: right;
    }
    nav .botonNav i {
        margin: 20px;
    }
}

.cabecera {
    width: 100%;
    height: 550px;
}

@media screen and (max-width:650px) {
    .cabecera {
        height: 450px;
    }
}

.cabecera .imagen {
    width: 100%;
    height: 100%;
    background-image: url(https://livedemo00.template-help.com/wt_pro_2.0_free_sample_template/images/index-1-slider-1-1920x768.jpg);
    /* background-image: url(https://universidadean.edu.co/sites/default/files/noticias/internas/inauguraci%C3%B3n-ean-legacy-banner.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera .imagen .opacidad {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #3d4a5a73; */
}

.cabecera .imagen .opacidad .titulo {
    color: white;
    margin-left: 10%;
    font-size: x-large;
}

section .integrantes {
    width: 100%;
    height: auto;
    background-color: #516ca9;
    color: white;
    padding: 30px 0 70px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section .integrantes .titulo {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 20px 0 20px 0;
}

section .integrantes .titulo h4 {
    margin: 0;
    font-size: x-large;
}

.integrantes .nombres {
    width: 95%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
}

.integrantes .nombres div {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    font-size: larger;
    font-weight: bold;
}

.integrantes .nombres div i {
    text-align: left;
    width: 100%;
    font-size: 70px;
    margin-bottom: 10px;
}

.integrantes .nombres div i:hover, .integrantes .nombres div span:hover {
    color: rgb(2, 219, 172);
}

.acercaDe {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    background-color: rgb(251, 253, 255);
}

.acercaDe h3 {
    font-size: xx-large;
}

.acercaDe h4 {
    font-size: x-large;
}

.acercaDe .nombre, .acercaDe .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.acercaDe .imagen img {
    width: 100%;
}

.acercaDe .nombre h3, .capacidades .productos h2, .capacidades .precios h2 {
    width: 100%;
}

.capacidades {
    padding-top: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
}

@media screen and (max-width:640px) {
    .capacidades .canales {
        width: 100%;
    }
}

/* .capacidades div {
    border: 1px solid green;
} */

.capacidades .productos, .capacidades .precios {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.capacidades h2, .capacidades h3 {
    color: #3d4a5a;
}

.capacidades li {
    color: rgb(87, 87, 87);
    font-size: large;
}

.capacidades .productos ul {
    list-style: none;
}

.audiencia {
    width: 100%;
    background-image: url(https://livedemo00.template-help.com/wt_pro_2.0_free_sample_template/images/parallax-1-1920x1026.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto 115%;
    color: white;
    padding: 50px 0 50px 0;
    background-attachment: fixed;
}

.audiencia .titulo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-bottom: 100px;
    text-align: center;
}

@media screen and (max-width:800px) {
    .audiencia .titulo{
        font-size: large;
    }
}

.audiencia .caracteristicas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5%;
}

.audiencia .caracteristicas .geograficas, .audiencia .caracteristicas .demograficas {
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.39);
}

.informe {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
}

.diagnostico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #3d4a5a;
}

.diagnostico .titulo {
    width: 100%;
    max-width: 70%;
    text-align: center;
    font-size: larger;
    padding: 50px 0 50px 0;
}

.diagnostico .opciones {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.diagnostico .opciones div {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #3d4a5a;
    border-radius: 7px;
    cursor: pointer;
}

.diagnostico .opciones div span {
    margin: 5%;
}

.diagnostico {
    padding-bottom: 100px;
}

.diagnostico .opciones div:hover {
    animation: color1 0.3s both;
}

@keyframes color1 {
    0% {
        background-color: white;
        color: #3d4a5a;
    } 100% {
        background-color: #516ca9;
        color: white;
    }
}

.propuesta {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0 100px 0;
    background: white;
}

.propuesta .primerTexto, .propuesta .partesEstrategia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 3%;
    width: 85%;
}

.propuesta .primerTexto .titulo {
    width: 100%;
    font-size: larger;
    text-align: left;
    color: #31404a;
}

.propuesta .primerTexto .texto {
    width: 100%;
    padding: 0 20px 0 20px;
}

.propuesta .publicaciones, .propuesta .fechas, .propuesta .contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3%;
    height: auto;
    width: auto;
}

.publicaciones .texto, .fechas .texto, .contenido .texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
}

.partesEstrategia .texto h3 {
    color: #516ca9;
    font-size: 23px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.publicaciones .imagen1, .fechas .imagen1, .contenido .imagen1 {
    width: auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px){
    .publicaciones .texto, .fechas .texto, .contenido .texto {
        order: 2;
        margin-bottom: 50px;
    }
    .publicaciones .imagen1, .fechas .imagen1, .contenido .imagen1{
        order: 1;
    } 
}

.publicaciones .imagen1 img, .fechas .imagen1 img, .contenido .imagen1 img{
    width: 95%;
    height: 100%;
}

footer {
    padding: 50px 0 50px 0;
}

footer, footer a {
    background: #31404a;
    color: #adb8c0;
}

footer .titulos {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}

footer .titulos .materia {
    margin-left: 15px;
}

footer .titulos .materia {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .titulos .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .titulos .logo img { 
    width: 100px;
}

footer .enlaces {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 3% 0 0 5%;
    grid-gap: 3%;
}

.enlaces1, .enlaces2, .enlaces3, .enlaces4 {
    margin-bottom: 10%;
}


footer .enlaces ul {
    margin: 0;
}

footer .enlaces ul li {
    margin-bottom: 5px;
}

footer .enlaces ul li a {
    word-break: break-all;
}

footer .enlaces ul li a:hover {
    color: white;
}

footer .enlaces .titulo {
    font-size: large;
    margin: 0 0 10px 10px;
}

footer .enlaces .titulo {
    color: white;
}